body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.half-width h1{
    font-size: 50px;
    font-weight: 700;
}

.orange{
    color: orange;
}

.grey{
    color: #575757
}

.half-width{
    width: 50%;
    margin-left: 40px;
    padding: 10px;
}

.half-width p{
    color: gray;
    font-weight: 500;
    margin-bottom: 50px;
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(90deg, orange, tomato);
    color: white;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 30px;
}

.link-btn:hover{
    border: 3px solid #575757;
}

.half-width img{
    width: 85%;
}

#part-1{
    height: 650px;
}

#part-2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    color:#575757;
}

#part-2 img{
    width: 20%;
    position: absolute;
    bottom: 0;
    margin-left: 120px;
}

.text{
    text-align: center;
}

.text h2{
    color: #575757;
}
.text p{
    color: black;
    width: 50%;
    margin: auto;;
}

.food img{
    width: 300px;
    border-radius: 35px;
    margin: 6%;
}

.food h2, p{
    padding: 10px 20px;
}

.food{
    width: 27%;
    border-radius: 35px;
    box-shadow: 10px 10px 30px lightgrey;
    margin: 20px;
}

.food:hover{
    background-color: gray;
    color: white;
}

.food-container{
    display: flex;
    justify-content: center;
}

.rating{
    text-align: center;
}

.rating h1{
    font-size: 30px;
    font-weight: 900;
}

.rating-container{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    padding: 40px;
    box-shadow: 10px 10px 30px lightgrey;
    width: 81%;
    border-radius: 35px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

.playstore img{
    width: 30%;
}

.bonus-2{
    padding: 30px;
    height: 280px;
}

.navbar li{
    list-style-type: none;
    padding: 10px;
    font-size: small;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

li a{
    text-decoration: none;
    color: #575757;
}

li:hover{
    background-color: tomato;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
}
